@page "{handler:?}"
@model NavEditModel
@{
    Layout = "_Layout_Edit";
}

<div class="box h-100">
    <div class="box-head">@(Request.Query["id"].ToString().Length > 0 ? "修改" : "新建")</div>
    <div class="box-body">
        <form method="post" id="form">
            <input type="hidden" value="@Request.Query["typeID"]" name="Model.TypeID" />
            <div class="form-row">
                <label class="form-item">
                    <span>名称</span>
                    @Html.TextBoxFor(s => s.Model.Name, new { @class = "input-text" })
                </label>
                <label class="form-item">
                    <span>前台Url</span>
                    @Html.TextBoxFor(s => s.Model.Temp1, new { @class = "input-text" })
                </label>
                <label class="form-item">
                    <span>后台Url</span>
                    @Html.TextBoxFor(s => s.Model.Temp2, new { @class = "input-text" })
                </label>
            </div>
        </form>
    </div>
    <div class="box-foot">
        <input type="button" class="btn-primary mlr-10" value="提交" onclick="$('#form').submit()" />
        <input type="button" class="btn-default mlr-10" value="取消" onclick="history.go(-1);" />
    </div>
</div>