@page "{handler:?}"
@model Sys_TypeModel
@{
    Layout = "_Layout_List";
}

<div class="box h-100">
    <div class="box-head flex">
        <div class="flex-1">@Request.Query["navName"]</div>
        <div class="-mlr-5">
            <a href="Sys_TypeEdit?typeID=@Request.Query["typeID"]&url=@System.Net.WebUtility.UrlEncode(Request.Path+Request.QueryString)" class="btn-primary h-pre mlr-5"><i class="icon-plus"></i>新建</a>
            <input type="button" class="btn-danger h-pre mlr-5" value="删除" onclick="checkDelete()" />
        </div>
    </div>
    <div class="box-body flex-column">
        <div class="mb-10">
            <form method="get">
                <input type="hidden" value="@Request.Query["typeID"]" name="TypeID" />
                <input type="hidden" value="@Request.Query["navName"]" name="navName" />
                <label class="mlr-5">名称：<input type="text" class="input-text" name="Name" value="@Request.Query["Name"]" /></label>
                <button type="submit" class="btn-primary mlr-5"><i class="icon-search"></i>搜索</button>
            </form>
        </div>
        <div class="table-fixed flex-1">
            <form method="post" action="@Request.Path/Delete@(Request.QueryString)" id="form">
                <table class="table check-box">
                    <thead>
                        <tr>
                            <th class="table-resize table-fixed-col"><div class="table-resize-item"><input type="checkbox" class="check-all" /></div></th>
                            <th class="table-resize"><div class="table-resize-item">序号</div></th>
                            <th class="table-resize"><div class="table-resize-item">名称</div></th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.List.Count; i++)
                        {
                            <tr>
                                <td class="table-fixed-col"><div class="table-resize-item"><input type="checkbox" class="check-item" name="checkID" value="@Model.List[i].ID" /></div></td>
                                <td><div class="table-resize-item">@(Model.PageSize * (Model.PageIndex - 1) + i + 1)</div></td>
                                <td><div class="table-resize-item">@Model.List[i].Name</div></td>
                                <td class="white-nowrap">
                                    <input type="button" class="btn-danger h-pre mlr-5 btn-xs" value="删除" onclick="checkDelete(this)" />
                                    <a class="btn-primary h-pre mlr-5 btn-xs" href="Sys_TypeEdit?id=@Model.List[i].ID&url=@System.Net.WebUtility.UrlEncode(Request.Path+Request.QueryString)">修改</a>
                                </td>
                            </tr>
                        }
                        @if (Model.List.Count == 0)
                        {
                            <tr><td colSpan="100" class="text-center font-bold">暂无数据</td></tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
        @Html.Pager(new Pager(Model.DataCount, Model.PageSize) { CssClass = "pager mt-5", NoCheFLBTClass = "pager-none", IndexClass = "pager-active" })
    </div>
</div>