@page "{handler:?}"
@model Sys_Sundry_BannerEditModel
@{
    Layout = "_Layout_Edit";
}

<div class="box h-100">
    <div class="box-head">@(Request.Query["id"].ToString().Length > 0 ? "修改" : "新建")</div>
    <div class="box-body">
        <form method="post" id="form">
            <input type="hidden" value="@Request.Query["TypeID"]" name="Model.TypeID" />
            <div class="form-row">
                <label class="form-item">
                    <span>图片</span>
                    <span>
                        <input type="button" value="图片上传" class="upload-img btn-success" url="/common/upload" hidden-name="Model.Img" data="@(Model.Model!=null?@Model.Model.Img:"")" />
                    </span>
                </label>
                <label class="form-item">
                    <span>链接</span>
                    @Html.TextBoxFor(s => s.Model.Temp1, new { @class = "input-text" })
                </label>
                <label class="form-item">
                    <span>是否新窗口打开</span>
                    <input type="checkbox" value="1" name="Model.Temp2" checked="@(Model.Model != null && Model.Model.Temp2 == "1")" />
                    <input type="hidden" name="Model.Temp2" value="0" />
                </label>
                <label class="form-item w-100">
                    <span>内容</span>
                    @Html.TextAreaFor(s=>s.Model.Content,new{style="height:300px;"})
                </label>
            </div>
        </form>
    </div>
    <div class="box-foot">
        <input type="button" class="btn-primary mlr-10" value="提交" onclick="$('#form').submit()" />
        <input type="button" class="btn-default mlr-10" value="取消" onclick="history.go(-1);" />
    </div>
</div>