@using (Html.Section())
{
    <style type="text/css">
        @@media(max-width:768px) {
            .list_content_02-item{padding-top:1rem;padding-bottom:1rem;}
            .list_content_02-content  {
                margin-top:0;
            }
        }
    </style>
}

<ul class="container ptb-8-c">
    @foreach(var m in Model.List)
    {
        <li class="flex border-ccc border-b-1 list_content_02-item hidden" hover-to scroll-in-add="animate-fadeInUp">
            <div class="w-56 md-display-none">
                <div class="font-italic font-bold color-white-3 font-48">@Convert.ToDateTime(m.Time).ToString("MM-dd")</div>
                <div class="font-italic color-white-3 font-20 font-bold">@Convert.ToDateTime(m.Time).ToString("yyyy")</div>
            </div>
            <div class="flex-1" in-add="color-active" out-remove="color-active">
                <a href="@Model.Url@m.ID" target="@Model.Target" class="font-24 md-font-16 font-bold line-clamp-1">@m.Name</a>
                <div class="font-14 color-black-3 display-none md-block ptb-1">@Convert.ToDateTime(m.Time).ToString("yyyy-MM-dd")</div>
                <a href="@Model.Url@m.ID" target="@Model.Target" class="color-black-3 line-h-1.75 mt-5 line-clamp-3 list_content_02-content">
                    @Html.Raw(m.Content)
                </a>
            </div>
        </li>
    }
</ul>

@*
<ul class="container ptb-8-c">
    <li class="flex border-ccc border-b-1 list_content_02-item">
        <div class="w-56 md-display-none">
            <div class="font-italic font-bold color-ccc font-48">06-03</div>
            <div class="font-italic color-ccc font-20 font-bold">2023</div>
        </div>
        <div class="flex-1">
            <a href="#" class="font-24 md-font-16 font-bold line-clamp-1">什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？</a>
            <div class="font-14 color-888 display-none md-block ptb-1">2022-06-03</div>
            <a href="#" class="color-888 line-h-1.75 mt-5 line-clamp-3 list_content_02-content">
                响应式网站建设简单的来说就是让一个网站页面，能在不同的设备访问并看到不同的效果。移动设备和移动网络的使用已经超过传统pc端，随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑、平板电脑、智能手机等这些电子设备品种繁复，假如一个网站在个人电脑上显现无缺，但是在手机屏幕上打开时会呈现溢出、页面呈现横向翻滚或许页面在手机
            </a>
        </div>
    </li>
    <li class="flex border-ccc border-b-1 list_content_02-item">
        <div class="w-56 md-display-none">
            <div class="font-italic font-bold color-ccc font-48">06-03</div>
            <div class="font-italic color-ccc font-20 font-bold">2023</div>
        </div>
        <div class="flex-1">
            <a href="#" class="font-24 md-font-16 font-bold line-clamp-1">什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？</a>
            <div class="font-14 color-888 display-none md-block ptb-1">2022-06-03</div>
            <a href="#" class="color-888 line-h-1.75 mt-5 line-clamp-3 list_content_02-content">
                响应式网站建设简单的来说就是让一个网站页面，能在不同的设备访问并看到不同的效果。移动设备和移动网络的使用已经超过传统pc端，随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑、平板电脑、智能手机等这些电子设备品种繁复，假如一个网站在个人电脑上显现无缺，但是在手机屏幕上打开时会呈现溢出、页面呈现横向翻滚或许页面在手机
            </a>
        </div>
    </li>
    <li class="flex border-ccc border-b-1 list_content_02-item">
        <div class="w-56 md-display-none">
            <div class="font-italic font-bold color-ccc font-48">06-03</div>
            <div class="font-italic color-ccc font-20 font-bold">2023</div>
        </div>
        <div class="flex-1">
            <a href="#" class="font-24 md-font-16 font-bold line-clamp-1">什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？什么是响应式网站？</a>
            <div class="font-14 color-888 display-none md-block ptb-1">2022-06-03</div>
            <a href="#" class="color-888 line-h-1.75 mt-5 line-clamp-3 list_content_02-content">
                响应式网站建设简单的来说就是让一个网站页面，能在不同的设备访问并看到不同的效果。移动设备和移动网络的使用已经超过传统pc端，随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑随之而来的是对响应式移动网页设计等技术的需求空前高涨个人电脑、平板电脑、智能手机等这些电子设备品种繁复，假如一个网站在个人电脑上显现无缺，但是在手机屏幕上打开时会呈现溢出、页面呈现横向翻滚或许页面在手机
            </a>
        </div>
    </li>
</ul>
*@