@page
@model UI.Pages.Admin.IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>数据管理中心</title>
    <link rel="stylesheet" type="text/css" href="/Admin/_lib/globalCss/global.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/_lib/font/css/fontello.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/_lib/AdminUIPage2/index.css" />
    <script type="text/javascript" src="/Admin/_lib/jquery.js"></script>
    <!--树结构-->
    <link rel="stylesheet" type="text/css" href="/Admin/_lib/tree/tree.css" />
    <script type="text/javascript" src="/Admin/_lib/tree/tree.js"></script>
    <!--树结构搜索插件-->
    <script type="text/javascript" src="/Admin/_lib/tree/tree-search.js"></script>
    <script type="text/javascript">
        $(document).on('click', '.nav-btn', function () {
            $('.nav-btn').removeClass('nav-btn-active');
            $(this).addClass('nav-btn-active')
        })
    </script>
</head>
<body>
    <div class="flex-column h-100">
        <!--头部-->
        <div class="flex" style="height:50px;background-color:#fff;">
            <div class="logo left">数据管理中心</div>
            <div class="flex-1 flex" style="border-bottom:1px solid #DEE2E6;">
                <div class="flex-1 flex-center">
                    <span class="head-nav-item mlr-15 font-16" onclick="$('.left').toggle()"><i class="icon-reorder"></i></span>
                    <a class="head-nav-item mlr-15" href="/admin/default" target="main">首页</a>
                </div>
                <div class="flex-center">
                    <span class="head-nav-item mlr-10">
                        <i class="icon-envelope"></i>
                        <!--<span class="head-nav-mark">12</span>-->
                    </span>
                    <span class="head-nav-item mlr-10">
                        <i class="icon-bell"></i>
                        <!--<span class="head-nav-mark">8</span>-->
                    </span>
                    <span class="head-nav-item mlr-10"><i class="icon-user"></i>管理员</span>
                    <span class="head-nav-item mlr-10"><i class="icon-off"></i>注销</span>
                </div>
            </div>
        </div>
        <!---->
        <div class="flex-1 flex">
            <!--左边栏目-->
            <div class="left-body left relative">
                <div class="flex">
                    <input type="text" class="flex-1 search-text tree-search" placeholder="搜索" />
                    <div class="search-btn"><i class="icon-search"></i></div>
                </div>
                <ul class="nav">
                    <!--
                    <li class="tree-active tree">
                        <div class="nav-switch icon-folder_open tree-switch">一级菜单</div>
                        <ol class="tree-box">
                            <li><a class="nav-btn icon-circle_blank" href="#">编辑页</a></li>
                            <li><a class="nav-btn icon-circle_blank" href="/admin/test/test_main" target="main">列表页</a></li>
                            <li><a class="nav-btn-active nav-btn icon-circle_blank" href="#">编辑页</a></li>
                        </ol>
                    </li>
                    -->
                    @foreach (var m in Model.List)
                    {
                        <li class="tree">
                            @if (m.Children.Count > 0)
                            {
                                <div class="nav-switch icon-folder_open tree-switch">@m.Name</div>
                            }
                            else if (m.Temp2 != null && m.Temp2.Length > 0)
                            {
                                <a class="nav-btn icon-circle_blank" href="@m.Temp2?typeID=@m.ID&navName=@m.Name" target="main">@m.Name</a>
                            }
                            <ol class="tree-box">
                                @foreach (var c in m.Children)
                                {
                                    if (c.Temp2 != null && c.Temp2.Length > 0)
                                    {
                                        <li><a class="nav-btn icon-circle_blank" href="@c.Temp2?typeID=@c.ID&navName=@c.Name" target="main">@c.Name</a></li>
                                    }
                                }
                            </ol>
                        </li>
                    }
                    <li class="tree"><a class="nav-btn icon-circle_blank" href="/admin/sys/Nav" target="main">栏目管理</a></li>
                    <!--<li class="tree"><a class="nav-btn icon-circle_blank" href="/admin/test/Temp_List1?typeID=-1" target="main">系统测试，写死的栏目typeID可用负值</a></li>-->
                </ul>
            </div>
            <!--右边块-->
            <div class="flex-1">
                <iframe style="width:100%;height:100%;border:0;display:block;" name="main" src="/admin/default"></iframe>
            </div>
        </div>
    </div>
</body>
</html>