<div class="container">
    <svg class="h-12 w-full">
        <text x="0" y="80%" style="fill:transparent;stroke:#939393;font-size:40px;font-weight:bold;">@Model.NameEn1 <tspan style="fill:#f9253b;stroke:none;">@Model.NameEn2</tspan></text>
    </svg>
    <div class="flex flex-wrap pl-8-c -ml-8">
        <div class="col-8 md-col-12">
            <div class="font-bold font-24">@Model.Name</div>
            <div class="color-black-3 mt-3">
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div class="col-4 md-col-12">
            <img src="@Model.Img" class="w-full br-6" />
        </div>
    </div>
</div>

@*
<div class="container">
    <svg class="h-12 w-full">
        <text x="0" y="80%" style="fill:transparent;stroke:#939393;font-size:40px;font-weight:bold;">About <tspan style="fill:#f9253b;stroke:none;">us</tspan></text>
    </svg>
    <div class="flex flex-wrap pl-8-c -ml-8">
        <div class="col-8 md-col-12">
            <div class="font-bold color-555 font-24">关于我们</div>
            <div class="color-888 mt-3">
                易风网络成立于2019年 致力于品牌网站建设与移动端开发 易风致力于互联网品牌建设，专业领域包括网站建设、电子商务、小程序开发、APP开发， 与其他网站建设及系统开发公司不同，我们的整合解决方案结合了易风网络品牌建设经验和互联网整合营销的理念，并将策略和执行紧密结合，且不断评估并优化我们的方案，为客户提供一体化全方位的互联网品牌整合方案！
            </div>
        </div>
        <div class="col-4 md-col-12">
            <img src="/img/content_01.jpg" class="w-full br-6" />
        </div>
    </div>
</div>
*@
