<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <!--<link rel="shortcut icon" href="/img/ico.ico">-->
    <link rel="stylesheet" type="text/css" href="/_plugins/atomCss/atom.css" />
    <link rel="stylesheet" type="text/css" href="/_plugins/font-front/css/fontello.css" />
    <script type="text/javascript" src="/_plugins/jquery.js"></script>
    <style type="text/css">
        /*配色方案*/
        body{color:#333;}
        .color-theme{color:#333;}
        .color-active{color:#F9253B;}
        .bg-theme{background-color:#333;}
        .bg-active{background-color:#F9253B;}
        .border-theme{border-color:#333;}
        .border-active{border-color:#F9253B;}
    </style>
    @Html.RenderPartialSection()
</head>
<body>
    @RenderBody()


    <script type="text/javascript" src="/_plugins/hover/hover.js"></script>
    <script type="text/javascript" src="/_plugins/hover-to/hover-to.js"></script>
    <script type="text/javascript" src="/_plugins/click-to/click-to.js"></script>
    <script type="text/javascript" src="/_plugins/scroll-to/scroll-to.js"></script>
</body>
</html>
