@page "{handler:?}"
@model Wind.UI.Areas.Admin.Pages.Test.ListModel
@using DbOrm
@using DbOrm.Model

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/lib/global.css" />
    <link rel="stylesheet" type="text/css" href="/Admin/Css/listedit-merge.min.css" />
</head>
<body>
    <div class="padding10 height100">
        <div class="box height100">
            <div class="box-head flex">
                <div class="flex1">销售订单查询</div>
                <div class="marginLR3g">
                    <a href="#" class="btn-primary h-pre"><i class="icon-plus"></i>新建</a>
                    <a href="javascript:checkDelete()" class="btn-danger h-pre"><i class="icon-remove"></i>批量删除</a>
                </div>
            </div>
            <div class="box-body">
                <form method="get">
                    <div class="marginLR3g">
                        <input type="text" class="input-text" name="MainName" placeholder="标题" value="@Request.Query["MainName"]" />
                        @Html.DropDownList("Test_Type_ID", DB.Select<Test_Type>("ID,TypeName").Query().Select<Test_Type, SelectListItem>(s => new SelectListItem(s.TypeName, s.ID.ToString(), s.ID.ToString() == Request.Query["Test_Type_ID"])), "请选择类型", new { @class = "input-text" })
                        <input type="date" class="input-text" name="CreateTime1" placeholder="起始创建时间" value="@Request.Query["CreateTime1"]" />-
                        <input type="date" class="input-text" name="CreateTime2" placeholder="结束创建时间" value="@Request.Query["CreateTime2"]" />
                        <button type="submit" class="btn-primary"><i class="icon-search"></i>搜索</button>
                    </div>
                </form>
                <form method="post" action="@Request.Path/Delete@(Request.QueryString)" id="form">
                    <table class="table marginT10">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>编号</th>
                                <th>名称</th>
                                <th>类型名称</th>
                                <th>数量</th>
                                <th>价格</th>
                                <th>是否</th>
                                <th>图片</th>
                                <th>文件</th>
                                <th>备注</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.List)
                            {
                                <tr>
                                    <td><input type="checkbox" name="checkID" value="@m.ID" /></td>
                                    <td><a href="#">@m.MainID</a></td>
                                    <td>@m.MainName</td>
                                    <td>@m.Type.TypeName</td>
                                    <td>@m.Quantity</td>
                                    <td>@m.Amount</td>
                                    <td><input type="checkbox" onclick="this.checked=!this.checked" checked="@m.IsShow" /></td>
                                    <td><a target="_blank" href="@(m.Img!=null?m.Img.Split('|')[0]:"")"><img src="@(m.Img!=null?m.Img.Split('|')[0]:"")" /></a></td>
                                    <td><a href="/Common/Download?path=@m.Files">下载文件</a></td>
                                    <td>@m.Remark</td>
                                    <td>@m.CreateTime.ToString("yyyy-MM-dd")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="box-foot">
                @Html.Pager(new Pager(Model.DataCount, Model.PageSize) { CssClass = "pager", NoCheFLBTClass = "pager-none", IndexClass = "pager-active" })
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/lib/jquery.js"></script>
    <script type="text/javascript" src="/Admin/Js/list-merge.min.js"></script>
</body>
</html>